/*
    37.5 ==> 600px ;
    56.25 ==> 868px ;
    112.5 ==> 1800px ;
*/
/* Start Color Variables */
/* End Color Variables */
/* Start Shadow Variables */
/* End Shadow Variables */
/* Start ZIndex Variables */
/* End ZIndex Variables */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: "Red Hat Display" , sans-serif; }

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.Focus {
  color: #0181B0;
  font-size: 1.6rem; }

.DropDown {
  position: relative;
  width: 100%;
  padding: 1.5rem 1rem; }
  .DropDown__List {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .DropDown__Item {
    cursor: pointer;
    padding: 0.5rem 8rem 0.5rem 2rem;
    text-transform: capitalize; }
    .DropDown__Item > a {
      color: #878787;
      transition: color .3s; }
    .DropDown__Item:hover > a {
      color: #0181B0; }

.CategoryIcon__Link {
  display: inline-block;
  color: #F8F8F8;
  padding: .3rem 1.3rem;
  border-radius: 0 10px 10px 10px;
  font-size: 1.2rem;
  font-weight: 700; }
  .CategoryIcon__Link--Food {
    background-color: #ffaf25; }
  .CategoryIcon__Link--Technology {
    background-color: #0073ff; }

.Form {
  padding: 1.5rem; }
  .Form__Group {
    position: relative; }
    .Form__Group:not(:last-child) {
      margin-bottom: 10px; }
  .Form__Input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 12px 50px 12px 10px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: inherit;
    background-color: #F0F2F5;
    transition: all .3s ease; }
    .Form__Input:focus, .Form__Input:not(:placeholder-shown) {
      border-color: #0181B0; }
    .Form__Input::-webkit-input-placeholder {
      color: #878787; }
  .Form__Button {
    outline: none;
    border: none;
    background-color: transparent; }
  .Form--SearchForm .Form__Button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); }
    .Form--SearchForm .Form__Button i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      background-color: transparent;
      font-size: 18px;
      color: #0181B0;
      transition: all .3s; }
    .Form--SearchForm .Form__Button:hover i {
      background-color: #0181B0;
      color: #F8F8F8; }

.CategoryCard {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer; }
  .CategoryCard__Image {
    width: 100%;
    height: 100%; }
    .CategoryCard__Image > img {
      width: 100%;
      height: 100%;
      transition: all .5s; }
  .CategoryCard__Details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    color: #fff; }
    .CategoryCard__Details::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%); }
  .CategoryCard__Name {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 90%;
    text-align: center;
    font-size: 20px;
    transform: translate(-50%, -50%);
    font-weight: 600;
    letter-spacing: -1px; }
  .CategoryCard:hover .CategoryCard__Image > img {
    transform: scale(1.1); }

.Pagination__List {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2rem;
  border-top: 2px solid #777;
  font-size: 1.6rem; }

.Pagination__Number, .Pagination__Previous, .Pagination__Next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .Pagination__Number > a, .Pagination__Previous > a, .Pagination__Next > a {
    display: block;
    font-weight: 600;
    border-radius: 50%;
    transition: all .3s; }
    .Pagination__Number > a:hover, .Pagination__Previous > a:hover, .Pagination__Next > a:hover {
      background-color: #0181B0;
      color: #F8F8F8; }

.Pagination__Number > a {
  color: #393939; }

.Pagination__Previous {
  margin-right: 3rem; }
  .Pagination__Previous > a {
    color: #0181B0;
    font-size: 2rem; }

.Pagination__Next {
  margin-left: 3rem; }
  .Pagination__Next > a {
    color: #0181B0;
    font-size: 2rem; }

.Selector {
  position: relative;
  width: 100%; }
  .Selector > select {
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    background: #f2f2f2;
    box-shadow: 0 1px 3px -2px #9098a9;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    -webkit-appearance: none;
    transition: all 0.3s ease; }
    .Selector > select:focus {
      border-color: #0181B0; }
    .Selector > select > option {
      color: #0181B0; }
      .Selector > select > option[value=""][disabled] {
        display: none; }
  .Selector > i {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #adadad; }

.Btn, .Btn:link, .Btn:visited {
  display: block;
  position: relative;
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 8px;
  border: none;
  transition: all .2s;
  font-size: 1.6rem;
  letter-spacing: 3px;
  outline: none;
  cursor: pointer; }

.Btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2); }

.Btn:active, .Btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.2); }

.TitleNews__Title {
  font-weight: 600; }

.TitleNews__Details .Details__List {
  display: flex;
  flex-direction: row;
  gap: 2rem; }

.TitleNews__Details .Details__Item {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600; }

.TitleNews__Details .Details__Link a {
  color: #D93E40; }
  .TitleNews__Details .Details__Link a:hover {
    color: #0181B0; }

.Gallery {
  width: 100%;
  height: 100%; }
  .Gallery__MainImage {
    width: 100%;
    margin-bottom: 2rem; }
    .Gallery__MainImage > img {
      width: 100%;
      height: auto;
      border-radius: 10px; }
  .Gallery__SliderImages {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 0 1.5rem 0; }
    .Gallery__SliderImages > a {
      flex: 0 0 15rem;
      display: block; }
      .Gallery__SliderImages > a > img {
        width: 100%;
        height: 100%;
        border-radius: 10px; }

.NewsCard {
  position: relative;
  cursor: pointer; }
  .NewsCard--Large, .NewsCard--Medium {
    border-radius: 1rem;
    overflow: hidden; }
    .NewsCard--Large > .NewsCard__NewsImage, .NewsCard--Medium > .NewsCard__NewsImage {
      width: 100%;
      height: 100%; }
    .NewsCard--Large > .NewsCard__Information, .NewsCard--Medium > .NewsCard__Information {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2; }
      .NewsCard--Large > .NewsCard__Information .TitleNews__Category, .NewsCard--Medium > .NewsCard__Information .TitleNews__Category {
        margin-bottom: 1rem; }
      .NewsCard--Large > .NewsCard__Information .TitleNews__Title, .NewsCard--Medium > .NewsCard__Information .TitleNews__Title {
        color: #F8F8F8;
        font-size: 3rem;
        line-height: 1.3;
        margin-bottom: 1rem; }
      .NewsCard--Large > .NewsCard__Information .Details__Item, .NewsCard--Medium > .NewsCard__Information .Details__Item {
        color: #d0d0d0; }
    .NewsCard--Large > .NewsCard__IconPlay, .NewsCard--Medium > .NewsCard__IconPlay {
      width: 9rem;
      height: 9rem; }
      .NewsCard--Large > .NewsCard__IconPlay > i, .NewsCard--Medium > .NewsCard__IconPlay > i {
        width: 5rem;
        height: 5rem;
        font-size: 3.5rem; }
    .NewsCard--Large::after, .NewsCard--Medium::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 47%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 1; }
  .NewsCard--Large {
    width: 100%;
    height: 100%; }
    .NewsCard--Large > .NewsCard__Information {
      padding: 4rem; }
      .NewsCard--Large > .NewsCard__Information .TitleNews__Title {
        font-size: 3rem;
        line-height: 1.3; }
  .NewsCard--Medium {
    width: 35rem;
    height: 35rem; }
    .NewsCard--Medium > .NewsCard__Information {
      padding: 2rem; }
      .NewsCard--Medium > .NewsCard__Information .TitleNews__Title {
        font-size: 1.8rem;
        line-height: 1.5; }
  .NewsCard--Small {
    display: flex;
    gap: 1rem;
    border-radius: 0 10px 0 10px; }
    .NewsCard--Small > .NewsCard__NewsImage {
      width: 18rem;
      border-radius: 1rem;
      overflow: hidden; }
      .NewsCard--Small > .NewsCard__NewsImage > .NewsCard__IconPlay {
        width: 4rem;
        height: 4rem; }
        .NewsCard--Small > .NewsCard__NewsImage > .NewsCard__IconPlay > i {
          font-size: 2rem; }
    .NewsCard--Small > .NewsCard__Information {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .NewsCard--Small > .NewsCard__Information .TitleNews__Title {
        font-size: 1.8rem;
        letter-spacing: 0;
        line-height: 1.3;
        font-weight: 600; }
      .NewsCard--Small > .NewsCard__Information .Details__Item {
        color: #878787; }
  .NewsCard__NewsImage {
    position: relative; }
    .NewsCard__NewsImage > img {
      width: 100%;
      height: 100%;
      transition: all .5s; }
  .NewsCard__IconPlay {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    z-index: 3; }
    .NewsCard__IconPlay > i {
      text-align: center;
      line-height: 1.4;
      color: #222222; }
  .NewsCard:hover .NewsCard__NewsImage > img {
    transform: scale(1.1); }

.Ads--Rectangular {
  width: 100%;
  height: 10rem; }

.Ads > img {
  width: 100%;
  height: 100%; }

.HeaderPage {
  position: relative;
  width: 100%;
  background-color: #222222; }
  .HeaderPage__Container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; }
  .HeaderPage__Logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    height: 55px; }
    .HeaderPage__Logo a > img {
      width: 100%;
      height: 100%; }
    .HeaderPage__Logo a > h1 {
      color: #F8F8F8;
      font-weight: 700; }
  .HeaderPage__Navs {
    flex: 1; }
    .HeaderPage__Navs > ul {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: capitalize; }
  .HeaderPage__Nav {
    position: relative; }
    .HeaderPage__Nav > a {
      display: block;
      padding: 3rem 1rem;
      color: #878787;
      cursor: pointer; }
    .HeaderPage__Nav::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 4px;
      background-color: #0181B0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transform: translateX(-50%);
      transition: width .2s; }
    .HeaderPage__Nav:hover > a {
      color: #0181B0; }
    .HeaderPage__Nav:hover::after {
      width: 100%; }
    .HeaderPage__Nav:hover .HeaderPage__DropDown {
      visibility: visible;
      opacity: 1; }
  .HeaderPage__DropDown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all .3s; }
  .HeaderPage__Icons {
    flex: .35;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    gap: 20px; }
  .HeaderPage__Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #393939;
    color: #F8F8F8;
    transition: background-color .3s , color .2s; }
    .HeaderPage__Icon:hover {
      background-color: #0181B0;
      color: #F8F8F8; }
  .HeaderPage__Search {
    position: absolute;
    display: none; }

.Section {
  width: 100%;
  padding: 8rem 0; }
  .Section__Title {
    font-size: 3.5rem;
    margin-bottom: 3rem; }
  .Section__Container {
    width: 125rem;
    margin: 0 auto; }

.FooterPage {
  position: relative;
  background-color: #222222;
  padding-top: 3rem; }
  .FooterPage__Container {
    width: 125rem;
    margin: 0 auto; }
  .FooterPage--Info {
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem; }
  .FooterPage__Part {
    flex: 1; }
    .FooterPage__Part > h3 {
      position: relative;
      font-size: 2rem;
      color: #F8F8F8;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      text-transform: uppercase; }
      .FooterPage__Part > h3::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #878787;
        border-radius: 10px; }
      .FooterPage__Part > h3::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 3px;
        background-color: #D93E40;
        border-radius: 10px; }
    .FooterPage__Part > p {
      font-size: 1.6rem;
      color: #F8F8F8;
      line-height: 2; }
    .FooterPage__Part--3 > h3 {
      margin-bottom: 3rem; }
    .FooterPage__Part--3 > form .Form__Group {
      margin-bottom: 2rem; }
    .FooterPage__Part--3 > form .Form__Button > button {
      background-color: #D93E40;
      color: #F8F8F8; }
  .FooterPage--CopyRight {
    width: 100%;
    background-color: #393939;
    text-align: center;
    padding: 1rem; }
    .FooterPage--CopyRight > p {
      font-size: 1.4rem;
      color: #F8F8F8; }

.HomePage__Section--TrendingVideos {
  background-color: #222222;
  margin-bottom: 10rem; }
  .HomePage__Section--TrendingVideos .Section__Title {
    color: #F8F8F8; }

.HomePage .LastNews {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 1rem; }
  .HomePage .LastNews__Newer {
    flex-basis: 66.66666%; }
  .HomePage .LastNews__NewsList {
    flex-basis: 33.33333%; }
    .HomePage .LastNews__NewsList > ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem; }

.HomePage .TrendingStories__List {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 3rem; }

.HomePage .TrendingStories__Item {
  flex-basis: calc(50% - 2rem); }

.HomePage .TrendingVideos {
  display: flex;
  width: 100%;
  gap: 2rem; }
  .HomePage .TrendingVideos__BigVideos {
    flex-basis: 66.66666%; }
  .HomePage .TrendingVideos__SmallVideos {
    flex-basis: 33.33333%; }
    .HomePage .TrendingVideos__SmallVideos > ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem; }
      .HomePage .TrendingVideos__SmallVideos > ul .NewsCard__Information .TitleNews__Title {
        color: #F8F8F8; }

.HomePage .Mix {
  display: flex; }
  .HomePage .Mix__PartOne .PartOne__News {
    display: flex;
    flex-direction: column;
    row-gap: 3rem; }

.CategoryPage__Section--ViewCategories .SearchBox {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
  border-radius: 10px; }

.CategoryPage__Section--ViewCategories .CategoryItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-row-gap: 6rem;
  grid-column-gap: 1rem;
  justify-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.DetailsPage__Section--DetailsNews {
  background-color: #fff; }

.DetailsPage__Section--NewsSuggestion {
  background-color: #FAFAFA; }

.DetailsPage .DetailsNews {
  position: relative; }
  .DetailsPage .DetailsNews__Content {
    padding-top: 50px; }
  .DetailsPage .DetailsNews__TitleNews {
    position: relative;
    padding: 1.5rem; }
    .DetailsPage .DetailsNews__TitleNews::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #878787;
      border-radius: 10px; }
    .DetailsPage .DetailsNews__TitleNews .TitleNews__Category {
      margin-bottom: 1rem; }
    .DetailsPage .DetailsNews__TitleNews .TitleNews__Title {
      font-size: 3.5rem;
      margin-bottom: 1.5rem; }
    .DetailsPage .DetailsNews__TitleNews .TitleNews__Details {
      margin-left: .7rem; }
      .DetailsPage .DetailsNews__TitleNews .TitleNews__Details .Details__Item {
        font-size: 1.4rem;
        color: #878787; }
  .DetailsPage .DetailsNews__Introduction {
    margin-bottom: 3rem;
    padding-right: 0; }
    .DetailsPage .DetailsNews__Introduction .DetailsNews__Gallery {
      float: right;
      width: 50%;
      margin-left: 2rem;
      margin-bottom: 1.1rem; }
    .DetailsPage .DetailsNews__Introduction .DetailsNews__Info {
      margin-bottom: 0; }
      .DetailsPage .DetailsNews__Introduction .DetailsNews__Info--Paragraph::first-letter {
        color: #222222;
        font-size: 3rem;
        font-weight: 600;
        font-family: none, serif; }
    .DetailsPage .DetailsNews__Introduction::after {
      content: "";
      display: table;
      clear: both; }
  .DetailsPage .DetailsNews__Info {
    margin-bottom: 3rem;
    padding: 0 1.5rem; }
    .DetailsPage .DetailsNews__Info--Title {
      margin-bottom: 2rem; }
      .DetailsPage .DetailsNews__Info--Title > h3 {
        color: #0181B0;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: -1px; }
    .DetailsPage .DetailsNews__Info--Paragraph {
      font-size: 1.8rem;
      color: #878787;
      line-height: 1.7; }
    .DetailsPage .DetailsNews__Info--Video {
      display: flex;
      justify-content: center;
      padding: 2rem; }
      .DetailsPage .DetailsNews__Info--Video > embed {
        width: 80rem;
        height: 40rem; }
  .DetailsPage .DetailsNews__Sharing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
    .DetailsPage .DetailsNews__Sharing .SocialMediaIcons {
      display: flex;
      gap: 2rem; }
      .DetailsPage .DetailsNews__Sharing .SocialMediaIcons a {
        font-size: 1.6rem; }
        .DetailsPage .DetailsNews__Sharing .SocialMediaIcons a .SocialMediaIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          cursor: pointer;
          color: #F8F8F8;
          transition: background-color .3s , color .2s; }
          .DetailsPage .DetailsNews__Sharing .SocialMediaIcons a .SocialMediaIcon--Facebook {
            background-color: #3B5998; }
          .DetailsPage .DetailsNews__Sharing .SocialMediaIcons a .SocialMediaIcon--Twitter {
            background-color: #00B6F1; }
          .DetailsPage .DetailsNews__Sharing .SocialMediaIcons a .SocialMediaIcon--Linked {
            background-color: #007BB6; }
          .DetailsPage .DetailsNews__Sharing .SocialMediaIcons a .SocialMediaIcon--Pinterest {
            background-color: #CB2027; }
    .DetailsPage .DetailsNews__Sharing .PrintNews > i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      color: #F8F8F8;
      transition: background-color .3s , color .2s;
      background-color: #0181B0;
      font-size: 1.6rem; }

.DetailsPage .SuggestionsItems {
  width: 100%; }
  .DetailsPage .SuggestionsItems__List {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    grid-row-gap: 6rem;
    grid-column-gap: 1rem; }
