
@mixin Manger_Respond($BreakPoints) {
  @if ($BreakPoints == Phone) {
    @media (max-width: 47.9em) { @content } ; // 766.4px
  }
  @if ($BreakPoints == Tablet) {
    @media (max-width: 61.9em) { @content } ; // 990.4px
  }
  @if ($BreakPoints == Desktop) {
    @media (max-width: 69.9em) { @content } ; // 1,118.4px
  }
  @if ($BreakPoints == Big_Desktop) {
    @media (min-width: 70em) { @content } ; // 1120px
  }
}

@mixin ContainerProperty {
  width: 100% ;
  padding: 0 5rem ;

  @include Manger_Respond(Desktop) {
    max-width: 130rem ;
    margin : 0 auto ;
  }

  @include Manger_Respond(Tablet) {
    max-width: 105rem ;
    margin : 0 auto ;
  }

  @include Manger_Respond(Phone) {
    width: 100% ;
    padding: 0 1rem ;
  }

  @include Manger_Respond(Big_Desktop) {
    max-width: 135rem;
    margin: 0 auto ;
  }
}

@mixin IconPrepare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  color : $WhiteColor ;
  transition: all .3s;
}

