
/* Start Color Variables */
$PrimaryColor : #0181B0 ;
$SecondaryColor : #D93E40;
$TertiaryColor : #050505;
$BlackColor : #222222 ;
$WhiteColor : #F8F8F8 ;
$WhiteColor_Extra_1 : #d0d0d0 ;
$WhiteColor_Extra_2 : #F0F2F5 ;
$WhiteColor_Extra_3 : #FAFAFA ;
$GrayColor : #878787 ;
$GrayColor_Extra_1 : #393939 ;
$GrayColor_Extra_2 : #494E51 ;
$GrayColor_Extra_3 : #fafafa ;
/* End Color Variables */

/* Start Shadow Variables */
$PrimaryShadow : 0px 4px 10px rgba(37, 47, 63, 0.1) ;
$LightShadow : 0 2px 6px 0 rgba(0, 0, 0, 0.05) ;
$DarkShadow : 0 2px 6px 0 rgba(0, 0, 0, 0.2) ;
/* End Shadow Variables */

/* Start ZIndex Variables */
$VeryTopLayer : 5 ;
$TopLayer : 4 ;
$MiddleLayer : 3 ;
$LowLayer : 2 ;
$VeryLowLayer : 1 ;
/* End ZIndex Variables */