
.Form {
  padding: 1.5rem;

  &__Group {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__Input {
    width: 100% ;
    height: 100% ;
    outline: none;
    padding : 1.2rem 5rem 1.2rem 1rem ;
    font-size: 1.8rem ;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px ;
    font-family: inherit ;
    background-color: $WhiteColor_Extra_2;
    transition: all .3s ease;

    &:focus ,
    &:not(:placeholder-shown) {
      border-color: $PrimaryColor;
    }

    &::-webkit-input-placeholder {
      color: $GrayColor ;
    }
  }

  &__Button {
    outline: none;
    border: none;
    background-color: transparent;
  }

  &--SearchForm ,
  &--WebSiteSearch {

    .Form__Button {
      position: absolute;
      top: 50% ;
      right: 1rem ;
      transform: translateY(-50%);

      i {
        @include IconPrepare ;
        background-color: transparent;
        font-size: 1.8rem;
        color : $PrimaryColor;
        transition: all .3s;
      }

      &:hover {
        i {
          background-color: $PrimaryColor;
          color : $WhiteColor ;
        }
      }
    }
  }

  &--WebSiteSearch {

    .Form__Input {
      background-color: $GrayColor_Extra_4 ;
      color : $WhiteColor ;
    }
  }

}

@include Language(Arabic) {

  .Form {

    &__Input {
      padding : 1.2rem 1rem 1.2rem 5rem ;
    }

    &--SearchForm ,
    &--WebSiteSearch {

      .Form__Button {
        left: 1rem ;
        right: initial ;
      }
    }
  }
}