
.Gallery {
  position: relative;
  width: 100%;
  height: 100%;


  &__MainImage {
    width: 100% ;
    margin-bottom: 2rem;

    > img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  &__OtherImages {
    position: relative;

    .Arrow_Right ,
    .Arrow_Left {
      @include IconPrepare ;
      position: absolute;
      color : $WhiteColor ;
      background-color: $PrimaryColor;
      font-size: 1.5rem ;
      z-index: $LowLayer;
      top : 50% ;
      transform: translateY(-50%);

      &:hover {
        box-shadow: $DarkShadow;
        transform: translateY(calc(-50% - .3rem));
      }
    }

    .Arrow_Right {
      right : -2rem ;
    }

    .Arrow_Left {
      left: -2rem;
    }
  }

  &__SliderImages {
    width: 100% ;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-y: hidden;
    overflow-x: scroll;

    > a {
      flex: 0 0 15rem;
      display: block;

      > img {
        width : 100% ;
        height: 100% ;
        border-radius: 10px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }


}