
.LastNewsView {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;

  &__Newer {
    flex-basis: 55%;
  }

  &__NewsList {
    flex : 1 ;

    > ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  @include Manger_Respond(Tablet) {
    flex-direction: column ;

    &__Newer {
      flex-basis: 100%;
    }

    &__NewsList {
      flex-basis: 100%;

      > ul {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap : 2rem;
        row-gap: 4rem ;

        > li {
          flex-basis: 48% ;
        }
      }
    }
  }

  @include Manger_Respond(Phone) {

    &__NewsList {

      > ul {
        flex-direction: column;

        > li {
          flex-basis: 100%  ;
        }
      }
    }
  }
}