
.NewsCard {
  position: relative;
  cursor: pointer;

  &--Large ,
  &--Medium {
    border-radius: 10px;
    overflow: hidden;

    > .NewsCard__NewsImage {
      width : 100% ;
      height : 100% ;
    }

    > .NewsCard__Information {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: $LowLayer;

      .TitleNews__Category {
        margin-bottom: 1rem;
      }

      .TitleNews__Title {
        color: $WhiteColor;
        font-size: 3rem;
        line-height: 1.3;
        margin-bottom: 1rem;
      }

      .Details__Item {
        color: $WhiteColor_Extra_1;
      }
    }

    > .NewsCard__IconPlay {
      width: 9rem;
      height: 9rem;

      > i {
        width: 5rem;
        height: 5rem;
        font-size: 3.5rem ;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100% ;
      height : 100% ;
      background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%
      ,rgba(0,0,0,.2) 47%,rgba(0,0,0,.8) 100%);
      z-index: $VeryLowLayer;
    }

    @include Manger_Respond(Phone) {

      > .NewsCard__IconPlay {
        width: 8rem;
        height: 8rem;
        left: inherit;
        top: 2rem;
        right: 4rem; ;
        transform: none;

        > i {
          width: 5rem;
          height: 5rem;
          font-size: 3.5rem ;
        }
      }
    }
  }

  &--Large {
    width: 100% ;
    height: 100% ;

    > .NewsCard__Information {
      padding: 4rem;

      .TitleNews__Title {
        font-size: 3rem;
        line-height: 1.3;
      }
    }
  }

  &--Medium {
    width : 35rem ;
    height : 35rem ;

    > .NewsCard__Information {
      padding: 2rem;

      .TitleNews__Title {
        font-size: 1.8rem;
        line-height: 1.5;
      }
    }
  }

  &--Small {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    > .NewsCard__NewsImage {
      width: 18rem;
      border-radius: 1rem;
      overflow: hidden;

      > .NewsCard__IconPlay {
        width: 4rem;
        height: 4rem;

        > i {
          font-size: 2rem ;
        }
      }
    }

    > .NewsCard__Information {
      flex : 1 ;
      display: flex;
      flex-direction: column;
      gap: 1rem ;

      .TitleNews__Title {
        font-size: 1.8rem;
        letter-spacing: 0;
        line-height: 1.3;
        font-weight: 600;
      }

      .Details__Item {
        color: $GrayColor;
      }
    }
  }

  &--MediumWithText {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    box-shadow: $PrimaryShadow;
    padding: 1rem ;
    border-radius: 10px ;

    > .NewsCard__NewsImage {
      display: flex;
      width: 30rem;
      border-radius: 1rem;
      overflow: hidden;

      > .NewsCard__IconPlay {
        width: 4rem;
        height: 4rem;

        > i {
          font-size: 2rem ;
        }
      }
    }

    > .NewsCard__Information {
      flex : 1 ;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem ;

      .TitleNews__Title {
        font-size: 2.2rem;
        letter-spacing: 0;
        line-height: 1.3;
        font-weight: 600;
      }

      .Details__Item {
        color: $GrayColor;
      }

      .NewsCard__Summery {
        font-size: 1.5rem ;
        line-height: 2;
        color : $GrayColor_Extra_2 ;
      }
    }

    @include Manger_Respond(Phone) {
      flex-direction: column;

      > .NewsCard__NewsImage {
        flex-basis: 100%;
        width: 100% ;
      }

      > .NewsCard__Information {
        flex-basis: 100%;

        .TitleNews__Title {
          font-size: 2.5rem;
        }

        .Details__Item {
          font-size: 1.5rem;
        }

        .NewsCard__Summery {
          font-size: 2rem ;
        }
      }
    }

  }

  &__NewsImage {
    position: relative;
    display: flex;

    > img {
      width: 100% ;
      height: 100% ;
      transition: all .5s;
    }
  }

  &__IconPlay {
    position: absolute ;
    display: flex ;
    left : 50% ;
    top : 50% ;
    justify-content: center;
    align-items: center;
    transform: translate(-50% , -50%);
    border-radius: 50% ;
    background-color: #fff;
    z-index: $MiddleLayer;

    > i {
      text-align: center;
      line-height: 1.4;
      color : $BlackColor ;
    }
  }

  &:hover {

    .NewsCard__NewsImage {

      > img {
        transform: scale(1.1);
      }
    }
  }
}