
.TitleNews {

  &__Title {
    font-weight: 600;
  }

  &__Details {

    .Details {

      &__List {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }

      &__Item {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
      }

      &__Link {

        a {
          color: $SecondaryColor;

          &:hover {
            color: $PrimaryColor;
          }
        }
      }
    }
  }

}