
* ,
*::after ,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit ;
}

html {

  font-size: 62.5%; // 10px

  @include Manger_Respond(Phone) {
    font-size: 50% ;
  }

  @include Manger_Respond(Tablet) {
    font-size: 56.25%;
  }

  @include Manger_Respond(Big_Desktop) {
    font-size: 75%;
  }

}

body {
  box-sizing: border-box ;
  //height : 10000px ;
}

ul {
  list-style: none ;
}