
* ,
*::after ,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit ;
}

html {

  @include Manger_Respond(Desktop) {
    font-size: 55%;
  }

  @include Manger_Respond(Tablet) {
    font-size: 50% ;
  }

  @include Manger_Respond(Phone) {
    font-size: 46% ;
  }

  @include Manger_Respond(Big_Desktop) {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box ;
}

ul {
  list-style: none ;
}