
.HomePage {

  &__Section {

    &--LastNewsImage {
      padding: 8rem 0 4rem 0 ;
    }

    &--TrendingStories {
      padding: 2rem 0 8rem 0;
    }

    &--LastNewsVideo {
      padding: 8rem 0;
      background-color: $BlackColor;

      .Section__Title {
        color : $WhiteColor ;
      }

      .LastNewsView {

        &__NewsList {

          > ul {

            .NewsCard {

              &__Information {

                .TitleNews__Title {
                  color : $WhiteColor ;
                }
              }
            }
          }
        }
      }
    }

    &--Mix {
      padding: 8rem 0 5rem 0 ;
    }
  }

  .TrendingStories {

    &__List {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      row-gap: 3rem ;
    }

    &__Item {
      flex-basis: calc(50% - 2rem);
    }
  }

  .Mix {
    display: flex;

    &__PartOne {
      flex-basis: 66.6666%;
      padding: 0 3rem 0 0;

      .PartOne {

        &__News {
          display: flex;
          flex-direction: column;
          row-gap: 3rem;
        }

        &__Ads {
          margin-bottom: 5rem ;
        }
      }
    }

    &__PartTwo {
      flex-basis: 33.3333%;

      > *:not(:last-child) {
        margin-bottom: 3rem;
      }

      .PartTwo {

        &__BoxSide {

          &--Category {

            .BoxSide__Content {
              display: grid ;
              grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
              grid-row-gap: 3rem;
              grid-column-gap: 2rem;

              @include Manger_Respond(Tablet) {
                grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
                grid-row-gap: 3rem;
                grid-column-gap: 2rem;
              }
            }
          }

          &--SocialMedia {

            .SocialMedia {

              &__List {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  @include Manger_Respond(Tablet) {

    .Mix {
      flex-direction: column ;
      row-gap: 5rem ;

      &__PartOne {
        flex-basis: 100%;
        padding: 0;
      }

      &__PartTwo {
        flex-basis: 100%;
      }
    }
  }

  @include Manger_Respond(Phone) {

    .TrendingStories {

      &__Item {
        flex-basis: 100% ;
      }
    }
  }

}

@include Language(Arabic) {

  .HomePage {

    .Mix {

      &__PartOne {
        padding: 0 0 0 3rem;
      }
    }
  }
}