
.HomePage {

  &__Section {

    &--LastNews {
      padding: 8rem 0 4rem 0 ;
    }

    &--TrendingStories {
      padding: 2rem 0 8rem 0;
    }

    &--TrendingVideos {
      padding: 8rem 0;
      background-color: $BlackColor;

      .Section__Title {
        color : $WhiteColor ;
      }
    }

    &--Mix {
      padding: 8rem 0 5rem 0 ;
    }
  }

  .LastNews {
    display: flex;
    width: 100%;
    gap: 2rem;

    &__Newer {
      flex-basis: 66.66666%;
    }

    &__NewsList {
      flex-basis: 33.33333%;

      > ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }

  .TrendingStories {

    &__List {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      row-gap: 3rem ;
    }

    &__Item {
      flex-basis: calc(50% - 2rem);
    }
  }

  .TrendingVideos {
    display: flex;
    width: 100%;
    gap: 2rem;

    &__BigVideos {
      flex-basis: 66.66666%;
    }

    &__SmallVideos {
      flex-basis: 33.33333%;

      > ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .NewsCard {

          &__Information {

            .TitleNews__Title {
              color : $WhiteColor ;
            }
          }
        }
      }
    }
  }

  .Mix {
    display: flex;

    &__PartOne {
      flex-basis: 66.6666%;
      padding: 0 3rem 0 0;

      .PartOne {

        &__News {
          display: flex;
          flex-direction: column;
          row-gap: 3rem;


        }

        &__Ads {
          margin-bottom: 5rem ;
        }
      }
    }

    &__PartTwo {
      flex-basis: 33.3333%;

      > *:not(:last-child) {
        margin-bottom: 3rem;
      }

      .PartTwo {

        &__BoxSide {

          &--Category {

            .BoxSide__Content {
              display: flex;
              flex-wrap: wrap;
              row-gap: 1.5rem;
              justify-content: center;
              column-gap: 2rem;
            }
          }

          &--SocialMedia {

            .SocialMedia {

              &__List {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}