
.FooterPage {
  position: relative;
  background-color: $BlackColor;
  padding-top: 3rem;

  &__Container {

    @include ContainerProperty ;
  }

  &--Info {
    display: flex;
    flex-wrap: wrap;
    gap : 5rem ;
    margin-bottom: 3rem;
  }

  &__Part {
    flex : 1 ;

    > h3 {
      position: relative;
      font-size: 2rem;
      color: #F8F8F8;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left : 0 ;
        width : 100% ;
        height : 3px ;
        background-color: $GrayColor;
        border-radius: 10px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left : 0 ;
        width : 20% ;
        height : 3px ;
        background-color: $SecondaryColor;
        border-radius: 10px;
      }
    }

    > p {
      font-size: 1.6rem;
      color: $WhiteColor;
      line-height: 2;
    }

    &--3 {

      > h3 {
        margin-bottom: 3rem;
      }

      > form {

        .Form__Group {
          margin-bottom: 2rem;
        }

        .Form__Button {

          > button {
            background-color: $SecondaryColor;
            color: $WhiteColor;
          }

        }
      }
    }
  }

  &--CopyRight {
    width: 100%;
    background-color: $GrayColor_Extra_1;
    text-align: center;
    padding : 1rem;

    > p {
      font-size: 1.4rem;
      color : $WhiteColor ;
    }
  }

  @include Manger_Respond(Tablet) {

    &--Info {
      gap : 3rem ;
    }

    &__Part {
      flex : 0 1 48% ;
    }
  }

  @include Manger_Respond(Phone) {

    &--Info {
      row-gap: 8rem ;
    }

    &__Part {
      flex : 1 0 100%;

      > h3 {

        &::before {
          width : 75% ;
        }
      }
    }
  }
}