
.HeaderPage {
  position: relative;
  width : 100% ;
  background-color: $BlackColor;

  &__Container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  &__Logo {

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      height: 55px;

      > img {
        width : 100% ;
        height : 100% ;
      }

      > h1 {
        color: $WhiteColor ;
        font-weight: 700;
      }
    }
  }

  &__Navs {
    flex: 1;

    > ul {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &__Nav {
    position: relative;

    > a {
      display: block;
      padding: 3rem 1rem;
      color : $GrayColor;
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 4px;
      background-color: $PrimaryColor;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transform: translateX(-50%);
      transition: width .2s;
    }

    &:hover {

      > a {
        color: $PrimaryColor;
      }

      &::after {
        width: 100%;
      }

      .HeaderPage__DropDown {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__DropDown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    box-shadow: $PrimaryShadow;
    visibility: hidden;
    opacity: 0;
    z-index: $MiddleLayer;
    transition: all .3s;
  }

  &__Icons {
    flex: .35;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    gap: 2rem;
  }

  &__Icon {
    @include IconPrepare ;
    background-color: $GrayColor_Extra_1;

    &--Mobile {
      display: none;
    }

    &:hover {
      background-color: $PrimaryColor;
      color : $WhiteColor ;
    }
  }

  &__HeaderSearch {
    position: absolute;
    display: flex ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $BlackColor;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    visibility: hidden ;
    opacity: 0;
    transition: all .3s ;

    &.Open {
      visibility: visible ;
      opacity: 1;
    }

    .HeaderSearch {

      &__Form {
        flex-basis: 80% ;
      }

      &__Close {
        @include IconPrepare ;
        font-size: 2.5rem ;
      }
    }
  }

  @include Manger_Respond(Tablet) {

    &__Container {
      justify-content: space-between;
      padding: 1rem 0;
    }

    &__Navs {
      display: none ;
    }

    &__Icons {
      gap: 1rem;
    }

    &__Icon {
      &--Mobile {
        display: flex;
      }
    }
  }

}

@include Language(Arabic) {

  .HeaderPage {

    &__DropDown {
      left: initial;
      right: 0 ;
    }
  }
}